### Importaci√≥n de datos

In [1]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categor√≠a del Producto,Precio,Costo de env√≠o,Fecha de Compra,Vendedor,Lugar de Compra,Calificaci√≥n,M√©todo de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electr√≥nicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogot√°,4,Tarjeta de cr√©dito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medell√≠n,1,Tarjeta de cr√©dito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de cr√©dito,1,10.39972,-75.51444
3,Microondas,Electrodom√©sticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medell√≠n,5,Nequi,1,6.25184,-75.56359

#1. An√°lisis de facturaci√≥n

In [20]:
facturacion_total = df['Precio'].sum()
print("üí∞ Facturaci√≥n total:", facturacion_total)

üí∞ Facturaci√≥n total: 4403619200.0

In [35]:
# Unir todos los DataFrames
df = pd.concat([df1, df2, df3, df4], ignore_index=True)

# Convertir la columna de fecha a tipo datetime
df['Fecha de Compra'] = pd.to_datetime(df['Fecha de Compra'], dayfirst=True)

# Extraer el a√±o en una nueva columna
df['A√±o'] = df['Fecha de Compra'].dt.year

In [36]:
facturacion_por_a√±o = df.groupby('A√±o')['Precio'].sum().reset_index()
print("\nüìÜ Facturaci√≥n por a√±o:")
print(facturacion_por_a√±o)

üìÜ Facturaci√≥n por a√±o:
    A√±o        Precio
0  2020  1.341955e+09
1  2021  1.424114e+09
2  2022  1.327452e+09
3  2023  3.100980e+08

In [37]:
facturacion_por_lugar = df.groupby('Lugar de Compra')['Precio'].sum().reset_index()
facturacion_por_lugar_ordenada = facturacion_por_lugar.sort_values(by='Precio', ascending=False).reset_index(drop=True)

print("\nüìç Facturaci√≥n por ciudad (todas las tiendas):")
print(facturacion_por_lugar_ordenada)

üìç Facturaci√≥n por ciudad (todas las tiendas):
   Lugar de Compra        Precio
0           Bogot√°  1.814858e+09
1         Medell√≠n  1.096669e+09
2             Cali  5.065261e+08
3          Pereira  2.259273e+08
4     Barranquilla  1.320405e+08
5        Cartagena  1.023767e+08
6           C√∫cuta  9.936910e+07
7      Bucaramanga  9.057330e+07
8         Riohacha  7.387970e+07
9          Leticia  6.714990e+07
10     Santa Marta  5.310050e+07
11           Pasto  4.901430e+07
12           Neiva  2.089800e+07
13       Manizales  1.936790e+07
14   Villavicencio  1.333360e+07
15          Soacha  1.231770e+07
16         Armenia  1.224290e+07
17         In√≠rida  8.087900e+06
18      Valledupar  5.886300e+06

# 2. Ventas por categor√≠a

In [43]:
# Agrupar y sumar ventas por categor√≠a
ventas_por_categoria = df.groupby('Categor√≠a del Producto')['Precio'].sum().reset_index()

# Ordenar de mayor a menor
ventas_por_categoria = ventas_por_categoria.sort_values(by='Precio', ascending=False).reset_index(drop=True)

# Mostrar resultado
print("üõí Ventas por categor√≠a de producto:\n")
print(ventas_por_categoria)

üõí Ventas por categor√≠a de producto:

    Categor√≠a del Producto        Precio
0             Electr√≥nicos  1.660576e+09
1        Electrodom√©sticos  1.324751e+09
2                  Muebles  7.576610e+08
3   Instrumentos musicales  3.487726e+08
4     Deportes y diversi√≥n  1.429777e+08
5                 Juguetes  7.360440e+07
6  Art√≠culos para el hogar  5.757980e+07
7                   Libros  3.769610e+07

# 3. Calificaci√≥n promedio de la tienda

In [45]:
# Agrupar por ciudad y calcular promedio de calificaci√≥n
calificacion_promedio = df.groupby('Lugar de Compra')['Calificaci√≥n'].mean().reset_index()

# Ordenar de mayor a menor calificaci√≥n
calificacion_promedio = calificacion_promedio.sort_values(by='Calificaci√≥n', ascending=False).reset_index(drop=True)

# Mostrar resultados
print("‚≠ê Calificaci√≥n promedio por ciudad:\n")
print(calificacion_promedio)

‚≠ê Calificaci√≥n promedio por ciudad:

   Lugar de Compra  Calificaci√≥n
0            Pasto      4.148936
1           Bogot√°      4.113619
2       Valledupar      4.071429
3             Cali      4.046673
4        Cartagena      4.020661
5          Pereira      4.013540
6      Bucaramanga      3.977901
7           C√∫cuta      3.940860
8         Medell√≠n      3.926534
9          Leticia      3.922535
10        Riohacha      3.895706
11          Soacha      3.894737
12   Villavicencio      3.827586
13    Barranquilla      3.803226
14           Neiva      3.800000
15         In√≠rida      3.642857
16       Manizales      3.634146
17     Santa Marta      3.596026
18         Armenia      3.464286

# 4. Productos m√°s y menos vendidos

In [48]:
# Punto 4: Productos m√°s y menos vendidos

# Contar ventas por producto
productos_vendidos = df['Producto'].value_counts().reset_index()
productos_vendidos.columns = ['Producto', 'Cantidad de ventas']

# Producto m√°s vendido
producto_mas_vendido = productos_vendidos.iloc[0]

# Producto menos vendido
producto_menos_vendido = productos_vendidos.iloc[-1]

# Mostrar resultados
print("üìà Producto m√°s vendido:")
print(f"- Producto: {producto_mas_vendido['Producto']}")
print(f"- Cantidad de ventas: {producto_mas_vendido['Cantidad de ventas']}")

print("\nüìâ Producto menos vendido:")
print(f"- Producto: {producto_menos_vendido['Producto']}")
print(f"- Cantidad de ventas: {producto_menos_vendido['Cantidad de ventas']}")

# Mostrar tabla completa (opcional)
print("\nüì¶ Tabla de ventas por producto:")
print(productos_vendidos)

üìà Producto m√°s vendido:
- Producto: Mesa de noche
- Cantidad de ventas: 210

üìâ Producto menos vendido:
- Producto: Celular ABXY
- Cantidad de ventas: 157

üì¶ Tabla de ventas por producto:
                       Producto  Cantidad de ventas
0                 Mesa de noche                 210
1     Carrito de control remoto                 206
2                    Microondas                 206
3                       Bater√≠a                 203
4                     Cama king                 201
5              Secadora de ropa                 200
6           Modelado predictivo                 200
7                  Set de ollas                 200
8                      Cama box                 199
9       Bloques de construcci√≥n                 199
10                    Iphone 15                 198
11                      Armario                 197
12                    Pandereta                 197
13          Bal√≥n de baloncesto                 197
14                    Bicicleta                 196
15    Iniciando en programaci√≥n                 195
16                     Smart TV                 192
17                 Refrigerador                 191
18                 Lavavajillas                 189
19                   Cuberter√≠a                 189
20            Guitarra ac√∫stica                 188
21                    Impresora                 188
22                Kit de bancas                 188
23                 Vaso t√©rmico                 187
24                       Estufa                 187
25                TV LED UHD 4K                 187
26           Cuerda para saltar                 186
27              Mesa de comedor                 185
28            Bal√≥n de voleibol                 184
29              Sof√° reclinable                 182
30             Silla de oficina                 181
31      Dashboards con Power BI                 181
32              Cubo m√°gico 8x8                 180
33            Ajedrez de madera                 180
34                  Tablet ABXY                 179
35             Lavadora de ropa                 176
36                  Mu√±eca beb√©                 175
37               Mesa de centro                 175
38               Dinosaurio Rex                 175
39                Juego de mesa                 175
40                  Auriculares                 174
41              Olla de presi√≥n                 172
42                   Smartwatch                 172
43                 Set de vasos                 169
44                       Sill√≥n                 168
45            Asistente virtual                 167
46  Ciencia de datos con Python                 166
47           Guitarra el√©ctrica                 165
48                      Mochila                 163
49    Auriculares con micr√≥fono                 158
50                 Celular ABXY                 157

# 5. Env√≠o promedio por tienda

In [50]:
# Agrupar por ciudad y calcular promedio del costo de env√≠o
envio_promedio = df.groupby('Lugar de Compra')['Costo de env√≠o'].mean().reset_index()

# Ordenar de mayor a menor
envio_promedio = envio_promedio.sort_values(by='Costo de env√≠o', ascending=False).reset_index(drop=True)

# Mostrar resultados
print("üöö Costo de env√≠o promedio por ciudad:\n")
print(envio_promedio)

üöö Costo de env√≠o promedio por ciudad:

   Lugar de Compra  Costo de env√≠o
0           Soacha    34768.421053
1          In√≠rida    30557.142857
2           C√∫cuta    28597.311828
3            Pasto    27801.063830
4            Neiva    27710.000000
5      Bucaramanga    26790.055249
6             Cali    26726.812314
7          Leticia    25317.605634
8         Medell√≠n    25282.022472
9    Villavicencio    25100.000000
10       Manizales    24948.780488
11          Bogot√°    24532.082171
12        Riohacha    24127.607362
13         Pereira    23211.411992
14         Armenia    22867.857143
15    Barranquilla    22692.258065
16       Cartagena    22638.429752
17      Valledupar    22021.428571
18     Santa Marta    18752.317881